.home-entire {
    display: flex;
}

.home-left {
    margin-block: 20px;
    padding-left: 20px;
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-end;
}

.icon-contact {
    display: flex;
    flex-direction: row;
    gap: 20px;

}

.icon-contact img {
    filter: var(--icon);
    transition: transform 650ms ease, filter var(--transition-time) ease;
    cursor: pointer;
}

.personal {
    font-family: "JetBrainsMono";
    font-size: 32px;
    font-weight: normal;
    user-select: none;
    color: var(--accent);
    display: flex;
    word-wrap: break-word;
    text-align: end;
}

.pfp {
    border-radius: 50%;
}

.stats {
    display: flex;
    flex-direction: column;
    font-size: 28px;
    font-family: "Montserrat";
    text-align: right;
}

.link-section {
    display: flex;
    gap: 10px;
    flex-direction: column;
    transition: filter var(--transition-time) ease;
    align-items: flex-end;
    font-family: "JetBrainsMono";
    color: var(--accent);
}

.link-section a {
    text-decoration: none;
    color: var(--accent);
}

.resume-main {
    background-color: var(--accent);
    border: solid;
    border-width: 1px;
    border-color: var(--accent);
    color: #FFFFFF;
    padding-block: 10px;
    padding-inline: 20px;
    font-size: 14px;
    transition: background-color var(--transition-time) ease, color var(--transition-time) ease;
    cursor: pointer;
    font-family: "Montserrat";
    text-align: center;
    width: 80px;
}

.resume-main:hover {
    background-color: var(--bg);
    color: var(--accent)
}

.darktheme-icon {
    filter: var(--icon);
    transform: var(--darktheme-icon-rotate);
    transition: transform 400ms ease;
    cursor: pointer;
}

.home-right {
    margin-left: 20px;
    margin-top: 20px;
    width: 50%;
    overflow: auto;
}

.latest {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.description-all {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.description-text {
    font-family: "JetBrainsMono";
    font-size: 20px;
}

.custom-header {
    color: var(--accent);
    font-family: "Montserrat";
    font-size: 24px;
}

.custom-caption {
    color: var(--text);
    font-family: "JetBrainsMono";
    transition: color var(--transition-time) ease;
}

.custom-divider-bottom {
    border-bottom: 1px solid;
    border-color: var(--secondary);
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.custom-divider-left {
    border-left: 1px solid;
    border-color: var(--secondary);
    padding-left: 20px;
}

.desktop-nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
}

.mobile-nav {
    display: none;
}

.list-all-random {
    color: var(--text);
    transition: color var(--transition-time) ease;
}

.list-all-random a {
    color: var(--accent);
    text-decoration: none;
    font-family: "JetBrainsMono"
}

.random-footer {
    color: var(--accent);
    font-family: "JetBrainsMono";
    text-decoration: none;
}

/** markdown specifics **/

.markdown :is(h1, h2, h3, h4, h5) {
    text-decoration: none;
    font-family: "JetBrainsMono";
    margin-top: 0px;
    margin-bottom: 10px;
}

.markdown p {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.markdown video {
    width: 100%;
    max-width: 560px;
    aspect-ratio: 16 / 9;
    height: auto;
    border: 0;
}

.markdown iframe {
    width: 100%;
    max-width: 560px;
    aspect-ratio: 16 / 9;
    height: auto;
    border: 0;
}

/** end markdown specifics **/

@media (pointer: coarse) or (max-width: 768px) {

    main {
        margin: 1rem;
    }

    .desktop-nav {
        display: none;
    }

    .mobile-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 100%;
    }

    .custom-divider-left {
        border-left: 0px solid;
        border-color: red;
        padding-left: 0px;
    }

    .custom-divider-bottom {
        margin-bottom: 10px;
        padding-bottom: 10px;
    }

    .home-entire {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home-left {
        margin-block: 0px;
        margin-bottom: 0px;
        padding-left: 0px;

        display: flex;
        flex-direction: column;
        gap: 0px;
        align-items: flex-start;
        width: 100%;
    }

    .home-right {
        margin-left: 0px;
        margin-top: 0px;
        width: 100%;
        overflow: auto;
    }

    .link-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .icon-contact {
        display: flex;
        flex-direction: row-reverse;
    }

    .stats {
        display: flex;
        flex-direction: column;
        font-size: 32px;
        font-family: "Montserrat";
        text-align: left;
    }

    .stats {
        padding-top: 10px;
        width: 100%;
        font-size: 20px;
    }

    .personal {
        text-align: start;
    }
}