.home-entire {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 100vh;
}

.middle-main {
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.name-header {
    font-family: "Overpass";
    font-size: 25px;
    font-weight: normal;
    white-space: nowrap;
    user-select: none;
}

.pfp-stats {
    display: flex;
    justify-content: space-between;
}

.pfp {
    border-radius: 50%;
}

.stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    font-family: "SourceCodePro", monospace;
    text-align: right;
}

.description-content {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    margin-top: 10px;
}

.divider-faded {
    border-top: 1px solid;
    border-bottom: none;
    margin-block: 15px;
    color: var(--secondary);
}

.links-main {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.links-left {
    display: flex;

}

.links {
    margin-block: auto;
    margin-left: 20px;
    display: flex;
    gap: 20px;
    transition: filter 200ms ease;
    filter: var(--icon);

}

.links img:hover {
    cursor: pointer;

}


.resume-main {
    background-color: var(--accent);
    border: solid;
    border-width: 1px;
    border-color: var(--accent);
    color: #FFFFFF;
    padding-block: 10px;
    padding-inline: 20px;
    font-size: 14px;
    transition: background-color 200ms ease, color 200ms ease;
    cursor: pointer;
    font-family: "Montserrat";
}

.resume-main:hover {
    background-color: var(--bg);
    color: var(--accent)
}

.darktheme-icon {
    filter: var(--icon);
    transform: var(--darktheme-icon-rotate);
    transition: transform 400ms ease;
    cursor: pointer;
}

.left-tabs {
    padding-top: 90px;
    height: 500px;
    width: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.left-tabs a {
    padding-inline: 10px;
    text-align: right;
    text-decoration: none;
}

.right-extra {
    height: 575px;
    width: 100px;
}