.home-entire {
    display: flex;
}

.hamburger {
    display: none;
}

.home-left {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-end;
}

.icon-contact {
    display: flex;
    flex-direction: row;
    gap: 20px;

}

.icon-contact img {
    filter: var(--icon);
    transition: transform 650ms ease, filter var(--transition-time) ease;
    cursor: pointer;
}

.personal {
    font-family: "JetBrainsMono";
    font-size: 32px;
    font-weight: normal;
    user-select: none;
    color: var(--accent);
    display: flex;
    word-wrap: break-word;
    text-align: end;
}

.pfp {
    border-radius: 50%;
}

.stats {
    display: flex;
    flex-direction: column;
    font-size: 28px;
    font-family: "Montserrat";
    text-align: right;
}

.link-section {
    display: flex;
    gap: 10px;
    flex-direction: column;
    transition: filter var(--transition-time) ease;
    align-items: flex-end;
    font-family: "JetBrainsMono";
    color: var(--accent);
}

.link-section a {
    text-decoration: none;
    color: var(--accent);
}

.resume-main {
    background-color: var(--accent);
    border: solid;
    border-width: 1px;
    border-color: var(--accent);
    color: #FFFFFF;
    padding-block: 10px;
    padding-inline: 20px;
    font-size: 14px;
    transition: background-color var(--transition-time) ease, color var(--transition-time) ease;
    cursor: pointer;
    font-family: "Montserrat";
    text-align: center;
    width: 80px;
}

.resume-main:hover {
    background-color: var(--bg);
    color: var(--accent)
}

.darktheme-icon {
    filter: var(--icon);
    transform: var(--darktheme-icon-rotate);
    transition: transform 400ms ease;
    cursor: pointer;
}

.home-right {
    margin-left: 20px;
    width: 50%;
    overflow: auto;
}

.latest {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.description-all {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.description-text {
    /* font-family: "JetBrainsMono"; */
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.custom-header {
    color: var(--accent);
    font-family: "JetBrainsMono";
    font-size: 20px;
}

.custom-caption {
    color: var(--text);
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    transition: color var(--transition-time) ease;
}

.custom-divider-bottom {
    border-bottom: 1px solid;
    border-color: var(--secondary);
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.custom-divider-left {
    border-left: 1px solid;
    border-color: var(--secondary);
    padding-left: 20px;
}

.desktop-nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
}

.list-all-random {
    color: var(--text);
    transition: color var(--transition-time) ease;
}

.list-all-random a {
    color: var(--accent);
    text-decoration: none;
    font-family: "JetBrainsMono"
}

.random-footer {
    color: var(--accent);
    font-family: "JetBrainsMono";
    text-decoration: none;
}

.shift-gradient-animation {
    background: -webkit-linear-gradient(0deg, var(--accent), var(--bg), var(--accent));
    background-size: 200% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: slide 3s linear infinite;
}

@keyframes slide {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: -200% 0%;
    }
}

/** markdown specifics **/

.markdown :is(h1, h2, h3, h4, h5) {
    text-decoration: none;
    font-family: "JetBrainsMono";
    margin-top: 0px;
    margin-bottom: 10px;
}

.markdown caption {
    text-align: center;
}

.markdown p {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.markdown a {
    color: var(--accent);
    text-decoration: none;
}

.markdown blockquote {
    border-left: 2px solid;
    border-color: var(--secondary);
    padding-left: 10px;
    margin-inline: 15px;
}

.markdown hr {
    height: 1px;
    border: none;
    border-bottom: 1px solid;
    border-color: var(--secondary);
    margin-top: 0px;
    margin-bottom: 10px;
}

.markdown pre {
    border-radius: 5px;
    margin-inline: 15px;
    margin-bottom: 0px;
    padding: 15px;
    background-color: var(--tertiary);
    overflow-x: auto;
}

.markdown video {
    width: 100%;
    max-width: 560px;
    aspect-ratio: 16 / 9;
    height: auto;
    border: 0;
}

.markdown iframe {
    width: 100%;
    max-width: 560px;
    aspect-ratio: 16 / 9;
    height: auto;
    border: 0;
}

.markdown figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.markdown figcaption {
    font-style: italic;
    color: var(--secondary);
    text-align: center;
}

.twitter-tweet iframe {
    color-scheme: light;
}

.twitter-timeline {
    height: 10px !important;
}

/** end markdown specifics **/

@media (pointer: coarse) or (max-width: 768px) {

    .hamburger {
        padding: 20px;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        /*z-index: ;*/
        background: var(--bg);
        border: none;
        font-size: 28px;
        color: var(--accent);
        cursor: pointer;
        width: 100%;
        text-align: start;
        transition: background-color var(--transition-time) ease, color var(--transition-time) ease;
        box-shadow: 4px 0 10px rgba(0,0,0,0.2);
    }

    .custom-divider-left {
        border-left: 0px solid;
        border-color: red;
        padding-left: 0px;
    }

    .custom-divider-bottom {
        margin-bottom: 10px;
        padding-bottom: 10px;
    }

    .home-entire {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home-left {
        margin-top: 0;
        position: fixed;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 70%;
        max-width: 300px;
        background: var(--bg);
        padding: 20px;
        z-index: 1000;
        transition: left var(--transition-time) ease, background-color var(--transition-time) ease, color var(--transition-time) ease;
        box-shadow: 4px 0 10px rgba(0,0,0,0.2);
        overflow-y: auto;
        width: 100%;
        gap: 10px;
    }

    .home-left.open {
        left: 0;
    }

    .home-right {
        margin-left: 0px;
        margin-top: 80px;
        width: 100%;
        overflow: auto;
    }

    .stats {
        padding-top: 10px;
        font-size: 20px;
        width: 100%;
    }
}