:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    --bg: #e5e7eb;
    --text: #111111;
    --accent: #7500FF;
    --secondary: #AAAAAA;
    --icon: none;
    --darktheme-icon-rotate: rotate(0deg);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --transition:
        color 200ms ease,
        background-color 200ms ease,
        border-color 200ms ease,
        fill 200ms ease,
        stroke 200ms ease;
}

html[data-theme="dark"] {
    --bg: #111111;
    --text: #e5e7eb;
    --secondary: #444444;
    --icon: invert(1);
    --darktheme-icon-rotate: rotate(180deg);
}

body {
    margin: 0;
    background: var(--bg);
    color: var(--text);
    transition: color 200ms ease, background-color 200ms ease;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: flex-end;
}

header nav {
    display: flex;
}

header a {
    padding: 5px;
    text-decoration: none;
}

@media (max-width: 639px) {
    main {
        margin: 2rem;
    }
}