:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    --bg: #e5e7eb;
    --text: #111111;
    --accent: #7500FF;
    --secondary: #AAAAAA;
    --tertiary: #DADCE3;
    --icon: none;
    --darktheme-icon-rotate: rotate(0deg);
    --transition-time: 500ms;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --transition:
        color var(--transition-time) ease,
        background-color var(--transition-time) ease,
        border-color var(--transition-time) ease,
        fill var(--transition-time) ease,
        stroke var(--transition-time) ease;
}

html {
    scrollbar-gutter: stable;

}

html[data-theme="dark"] {
    --bg: #111111;
    --text: #e5e7eb;
    --secondary: #444444;
    --tertiary: #171717;
    --icon: invert(1);
    --darktheme-icon-rotate: rotate(180deg);
}

body {
    margin: 0;
    background: var(--bg);
    color: var(--text);
    transition: color var(--transition-time) ease, background-color var(--transition-time) ease;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: flex-end;
}

header nav {
    display: flex;
}

header a {
    padding: 5px;
    text-decoration: none;
}

img {
    max-width: 100%;
}

video {
    max-width: 100%;
}